%html
  %head
  %body
    = partial :meta
    
    %ul
      = partial :news, :collection => News, :locals => {klass: {class: "klassic"}}
      
    = partial :locality, :locals => Hash[%w{a b c d}.zip(%w{A B C D})]
    
    = yield