<html>
  <head></head>
  <body>
    <%= partial :meta %>
    
    <ul>
      <%= partial :news, :collection => settings.news, :locals => {:klass => {:class => "klassic"}} %>
    </ul>
      
    <%= partial( :locality, :locals => Hash[%w{a b c d}.zip(%w{A B C D})]) %>
    
    <%= yield %>
  </body>
</html>