<html>
  <head></head>
  <body>
    <%= partial :"partials/meta" %>
    
    <ul>
      <%= partial :"partials/news", :collection => News %>
    </ul>
      
    <%= partial( :"partials/locality", :locals => Hash[%w{a b c d}.zip(%w{A B C D})]) %>
    
    <%= yield %>
  </body>
</html>